%ul.nav.nav-pills
  %li{:role => "presentation"}
    %a{:href => "http://localhost:3000/matches"} Matches
  %li{:role => "presentation"}
    %a{:href => "http://localhost:3000/users"} Users
  %li{:role => "presentation"}
    %a{:href => "http://localhost:3000/places"} Places

.col-md-12
  .col-md-3.col-md-offset-1
    %h1
      User
    .col-md-6.text-left.panel-success
      %h3.panel-heading.label-info
        = @user.name
      .panel-body
        %label
          1)
        = @user.q1
        %br

        %label
          2)
        = @user.q2
        %br

        %label
          3)
        = @user.q3
        %br

        %label
          4)
        = @user.q4
        %br

        %label
          5)
        = @user.q5

  .col-md-3
    %h1
      Places
    - @places.each do |p|
      .row
        .col-md-6.text-left.panel-primary
          %h3.panel-heading.label-info
            = p.name
            = @user.distance_to_percentage(p)
          %ul
            %b 
              1)
            = p.q1
          %ul
            %b
              2)
            = p.q2
          %ul
            %b
              3)
            = p.q3
          %ul
            %b
              4)
            = p.q4
          %ul
            %b
              5)
            = p.q5